<div id="generic_page">
  <h1>Download Databases</h1>
  <p>Each download includes CIFS + isotherms for all releavnt MOFs.
    <br/>The downloads listed by gas also include cifs but only a subset of the isotherms for that MOF.</p>
  <div id="combo-container">
    <% @combinations.each do |database, doiToGas| %>
      <% if doiToGas.keys.any? %>
        <div class="combo-inner">
          <h3 title="Full database of cifs + isotherms">
            <a href='/Datasets/<%= get_zip_name(database, nil, nil) %>'>
              <%= database.name %>
            </a>
          </h3>
          <% doiToGas.keys.each do |doi| %>
            <h4><%= doi %></h4>
            <% doiToGas[doi].to_a.each do |gases| %>
              <a title="All isotherms for this gas and this doi + relevant cif files" href='/Datasets/<%= get_zip_name(database, doi, gases) %>'>
                <%= gases.map { |g| g.name}.join("/") %>
              </a>
            <% end %>
            <a title="All isotherms + cifs for this doi" href='/Datasets/<%= get_zip_name(database, doi, nil) %>'>
              All
            </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <h1>Download Forcefields</h1>
  <ul>
    <li><a href="/FF/hMOFs-CO2.zip">hMOF CO2</a></li>
    <li><a href="/FF/hMOFs-hydrogen.zip">hMOF Hydrogen</a></li>
    <li><a href="/FF/hMOFs-methane.zip">hMOF Methane</a></li>
    <li><a href="/FF/hMOFs-N2.zip">hMOF N2</a></li>
    <li><a href="/FF/hMOFs-XeKr.zip">hMOF XeKr</a></li>
    <li><a href="/FF/Tobacco_Hydrogen.zip">Tobacco Hydrogen</a></li>
    <li><a href="/FF/Tobacco_methane.zip">Tobacco Methane</a></li>
    <li><a href="/FF/tobacco_XeKr.zip">Tobacco XeKr</a></li>
  </ul>
</div>