<div id="generic_page">
  <h1>Download Databases</h1>
  <div id="combo-container">
    <% @combinations.each do |database, doiToGas| %>
      <% if doiToGas.keys.any? %>
        <div class="combo-inner">
          <h3>
            <a href='/Datasets/<%= "#{database.name}".gsub(/[^0-9a-z]/i, ' ') %>.zip'>
              <%= database.name %>
            </a>
          </h3>
          <% doiToGas.keys.each do |doi| %>
            <h4><%= doi %></h4>
            <% doiToGas[doi].each do |gas| %>
              <a href='/Datasets/<%= "#{database.name}-#{doi}-#{gas.name}".gsub(/[^0-9a-z]/i, ' ') %>.zip'>
                <%= gas.name %>
              </a>
            <% end %>
            <a href='/Datasets/<%= "#{database.name}-#{doi}-all".gsub(/[^0-9a-z]/i, ' ') %>.zip'>
              All
            </a>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <h1>Download Forcefields</h1>
  <ul>
    <li><a href="/FF/hMOFs-CO2.zip">hMOF CO2</a></li>
    <li><a href="/FF/hMOFs-hydrogen.zip">hMOF Hydrogen</a></li>
    <li><a href="/FF/hMOFs-methane.zip">hMOF Methane</a></li>
    <li><a href="/FF/hMOFs-N2.zip">hMOF N2</a></li>
    <li><a href="/FF/hMOFs-XeKr.zip">hMOF XeKr</a></li>
    <li><a href="/FF/Tobacco_Hydrogen.zip">Tobacco Hydrogen</a></li>
    <li><a href="/FF/Tobacco_methane.zip">Tobacco Methane</a></li>
    <li><a href="/FF/tobacco_XeKr.zip">Tobacco XeKr</a></li>
  </ul>
</div>