<div id="index_content">
  <div id="search">
    <div>
      <label class="slider_title">Name / Aliases</label>
      <div class="hcon">
        <input class="textbox" type="text" id="name" onkeypress="" onkeyup="" onkeydown=""/>
      </div>
    </div>
    <div>
      <label class="slider_title">Void Fraction</label>
      <div class="hcon">
        <div id="vf_slider" class="slider"></div>
      </div>
      <div class="slider_label">
        <span id="vf_min">0</span>
        <span id="vf_max">1</span>
      </div>
    </div>
    <div>
      <label class="slider_title">Surface Area [m2/g]</label>
      <div class="hcon">
        <div id="sa_m2g_slider" class="slider"></div>
      </div>
      <div class="slider_label">
        <span id="sa_m2g_min">0</span>
        <span id="sa_m2g_max">1</span>
      </div>
    </div>
    <div>
      <label class="slider_title">Surface Area [m2/cm3]</label>
      <div class="hcon">
        <div id="sa_m2cm3_slider" class="slider"></div>
      </div>
      <div class="slider_label">
        <span id="sa_m2cm3_min">0</span>
        <span id="sa_m2cm3_max">1</span>
      </div>
    </div>
    <div>
      <label class="slider_title">PLD</label>
      <div class="hcon">
        <div id="pld_slider" class="slider"></div>
      </div>
      <div class="slider_label">
        <span id="pld_min">0</span>
        <span id="pld_max">1</span>
      </div>
    </div>
    <div>
      <label class="slider_title">LCD</label>
      <div class="hcon">
        <div id="lcd_slider" class="slider"></div>
      </div>
      <div class="slider_label">
        <span id="lcd_min">0</span>
        <span id="lcd_max">1</span>
      </div>
    </div>
    <div class='row hcon' style='justify-content: center' id="checkboxes">
      <div class="vcon col-xs-6">

        <% ['N2', 'X2', 'Kr', 'H2'].each do |ads| %>
          <div class='hcon' style='justify-content: left'>
            <input id='<%= ads %>' type='checkbox'/>
            <label for='<%= ads %>'><%= ads %></label>
          </div>
        <% end %>
      </div>
      <div class="col-xs-6">
        <% ['CO2', 'CH4', 'H2O'].each do |ads| %>
          <div class='hcon' style='justify-content: left'>
            <input id='<%= ads %>' type='checkbox'/>
            <label for='<%= ads %>'><%= ads %></label>
          </div>
        <% end %>

      </div>
    </div>
    <div class="spacer"></div>
    <p class="hcon slider_title">Database</p>
    <div id="databases" class="hcon">
      <select id="db_choice">
        <option value="Any">Any</option>
        <% Database.all.each do |db| %>
          <option value="<%= db.name %>"> <%= db.name %> </option>
        <% end %>
      </select>
    </div>
    <div class="spacer"></div>
    <p class="hcon slider_title">DOI</p>
    <div class="hcon"><input list="doi" id="doi_label" name="doi"/></div>
    <datalist id="doi">
      <% Isotherm.all.pluck(:doi).each do |doi| %>
        <option value="<%= doi %>"> <%= doi %></option>
      <% end %>
    </datalist>

    <p class="hcon slider_title">Atoms in Framework:</p>
    <div class="side-by-side clearfix hcon">
      <select id="elements_label" data-placeholder="C Xe He N etc." multiple class="chosen-select">
        <% Element.all.pluck(:symbol).each do |adsorbate| %>
          <option><%= adsorbate %></option>
        <% end %>

      </select>
    </div>
    <div class="spacer"></div>

    <label class="slider_title" for="limit" title="Turning this off may slow things down a great deal">Limit to 100
      results </label>
    <div class="hcon"><input id='limit' name="limit" type='checkbox' checked checked=true/></div>


  </div>
  <div id="table_outer">
    <div id="table_inner">
      <table class="display nowrap" style='width:100%' id='mof_table'>
        <thead>
        <tr>
          <td>Name</td>
          <td>Void Fraction</td>
          <td>ASA m2/cm3</td>
          <td>ASA m2/g</td>
          <td>PLD</td>
          <td>LCD</td>
          <td>Isotherms</td>
          <td>Database</td>
          <td>Atoms in MOF</td>
          <td>More Information</td>
        </tr>
        </thead>
        <tbody id="mof_tbody">
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>