<p id="notice"><%= notice %></p>

<p>
  <strong>Hashkey:</strong>
  <%= @mof.hashkey %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mof.name %>
</p>

<p>
  <strong>Db:</strong>
  <%= @mof.db %>
</p>

<p>
  <strong>Cif:</strong>
  <%= @mof.cif %>
</p>

<p>
  <strong>Void fraction:</strong>
  <%= @mof.void_fraction %>
</p>

<p>
  <strong>Surface area m2g:</strong>
  <%= @mof.surface_area_m2g %>
</p>

<p>
  <strong>Surface area m2cm3:</strong>
  <%= @mof.surface_area_m2cm3 %>
</p>

<p>
  <strong>Pld:</strong>
  <%= @mof.pld %>
</p>

<p>
  <strong>Lcd:</strong>
  <%= @mof.lcd %>
</p>

<p>
  <strong>Pxrd:</strong>
  <%= @mof.pxrd %>
</p>

<p>
  <strong>Pore size distribution:</strong>
  <%= @mof.pore_size_distribution %>
</p>

<%= link_to 'Edit', edit_mof_path(@mof) %> |
<%= link_to 'Back', mofs_path %>
