<div id="mof-page">
  <div id="left">
    <table id="mof_specific">
      <div class="lead"><%= @mof.name %></div>
      <tbody>
      <tr class="top">
        <td>MOFkey</td>
        <td>
          <% if @mof.mofkey %>
            <button class="copy" data-copy="<%= @mof.mofkey %>">Copy</button> <%= @mof.mofkey[0..200] %>...</td>
          <% end %>
          </tr>

      </tr>
      <tr class="top">
        <td>MofID</td>
        <td>
          <% if @mof.mofid %>
            <button class="copy" data-copy="<%= @mof.mofid %>">Copy</button> <%= @mof.mofid[0..100] %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Database</td>
        <td><%= @mof.database.name %></td>
      </tr>
      <tr>
        <td title="<%= @mof.void_fraction %>">Void Fraction</td>
        <td><%= @mof.void_fraction %></td>
      </tr>
      <tr>
        <td title="<%= @mof.surface_area_m2g %>">ASA m2/g</td>
        <td><%= @mof.surface_area_m2g %></td>
      </tr>
      <tr>
        <td title="<%= @mof.surface_area_m2cm3 %>">ASA m2/cm3</td>
        <td><%= @mof.surface_area_m2cm3 %></td>
      </tr>
      <tr>
        <td title="<%= @mof.pld %>">PLD</td>
        <td><%= @mof.pld %></td>
      </tr>
      <tr>
        <td title="<%= @mof.lcd %>">LCD</td>
        <td> <%= @mof.lcd %></td>
      </tr>
      <tr>
        <td>Atoms in MOF</td>
        <td><%= @mof.elements.pluck(:symbol).join(", ") %></td>
      </tr>
      <Tr>
        <td>Cif:</td>
        <td>
          <% if @mof.database.name == "CSD" %>
            Not avaialble for CSD
          <% else %>
            <%= link_to("Download", cif_mof_path(@mof)) %>
          <% end %>
        </td>
      </Tr>
      </tbody>
    </table>

    <% if @mof.database.name != "CSD" %>
      <div id="viewport-holder">
        <% if Rails.env == "production" %>
          <div id='viewport' data-url="<%= (request.original_url.to_s + "/cif.cif").gsub(/http:/, 'https:') %>" style='width:100%;height:20rem;'></div>
        <% else %>
          <div id='viewport' data-url="<%= request.original_url.to_s + "/cif.cif" %>" style='width:100%;height:20rem;'></div>
        <% end %>
      </div>
    <% else %>
      <br/>
      <p>Preview not available for CSD</p>
    <% end %>

  </div>
  <div id="right">
    <% if @mof.isotherms.any? %>
      <div class="lead">Isotherms <%= link_to "<button>View JSON</button>".html_safe, mof_path(@mof, format: :json) %></div>
    <% else
         @mof.isotherms.any? %>
      <p class="lead">This mof has no isotherms</p>
    <% end %>
    <div class="spacer"></div>
  </div>
</div>