<p id="notice"><%= notice %></p>

<h1>Isotherms</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @isotherms.each do |isotherm| %>
      <tr>
        <td><%= link_to 'Show', isotherm %></td>
        <td><%= link_to 'Edit', edit_isotherm_path(isotherm) %></td>
        <td><%= link_to 'Destroy', isotherm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Isotherm', new_isotherm_path %>
