<div id="generic_page">
  <h1>Download Databases</h1>
  <p>Each download includes CIFS + isotherms for all relevant MOFs.
    <br/>The downloads listed by gas also include cifs but only a subset of the isotherms for that MOF.</p>

  <div id="combo-container">
    <% @combinations.each do |database, doiToGas| %>
      <% if doiToGas.keys.any? %>
        <div class="combo-inner">
          <h3 title="Full database of cifs + isotherms">
            <a href='/Datasets/<%= get_zip_name(database, nil, nil) %>'>
              <%= database.name %>
            </a>
          </h3>
          <% doiToGas.keys.each do |doi| %>
            <div class="combo-doi">
              <h4>
                <%= link_to "🔗 #{doi.doi}", doi.url,  target: :_blank %>
              </h4>
              <% doiToGas[doi].to_a.each do |gases| %>
                <a title="All isotherms for this gas and this doi + relevant cif files" href='/Datasets/<%= get_zip_name(database, doi, gases) %>'>
                  <%= gases.map { |g| g.name }.join("/") %>
                </a>
              <% end %>
              <a title="All isotherms + cifs for this doi" href='/Datasets/<%= get_zip_name(database, doi, nil) %>'>
                All
              </a>
            </div>

          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% @groups.each do |name, files| %>
    <h1><%= name %></h1>
    <ul>
      <% files.each do |zip| %>
        <li><a href='<%= url_for(zip.file) %>'><%= zip.name %></a></li>
      <% end %>
    </ul>
  <% end %>

</div>