<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nathaniel Tracy-Amoroso n8ta.com">
  <meta name="description" content="A database of MOFs and simulated Isotherms ">
  <meta name="keywords" content="MOF,snurr,Northwestern,isotherm,nitrogen,database,chemistry,NU,zeolites">
  <title>
    Metal Organic Framework Database
  </title>
  <!-- JQUERY -->
  <!-- <script src="js/jquery.min.js" ></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" type="text/css" href="" defer>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css" defer>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" defer></script>
  <script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js" defer></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js" defer></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js" defer></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js" defer></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js" defer></script>
  <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js" defer></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<div id="nav">
  <h1><a href="index.php"><span id="mof">MOF</span><span id="db">DB</span></a></h1>
</div>
<div id="page">
  <%= yield %>

  <div id="footer_grid">
    <span>Built for the Snurr Research lab by<br/><a style='color:white;font-weight:500' target="_blank" href="https://n8ta.com">Nathaniel Tracy-Amoroso</a> in collaboration with<br/>Benjamin Buccior,<br/>Daniel Siderius,<br/> and Scotty Bobbitt
    </span>
    <br/>
    <br/>
  </div>
</div>

</body>
</html>
