<!DOCTYPE HTML>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Nathaniel Tracy-Amoroso n8ta.com">
  <meta name="description" content="A database of MOFs and simulated Isotherms">
  <meta name="keywords" content="MOF,snurr,Northwestern,isotherm,nitrogen,database,chemistry,NU,zeolites">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://mof.tech.northwestern.edu/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="MofDB: A database of MOFs/Xeolites">
  <meta property="og:description" content="Millions of simulated isotherms for mofs and xeolites with easy api access">
  <meta property="og:image" content="<%= asset_url("mof_image.jpg") %>">


  <title>
    Metal Organic Framework Database | <%= @mof_count %> Mofs
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', integrity: true %>
  <%= javascript_include_tag 'application', integrity: true %>
  <link rel="preload" href="<%= javascript_url("plots_bundle") %>" as="script"/>
  <link rel="preload" href="<%= javascript_url("api_bundle") %>" as="script"/>
  <%= yield :head %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111016820-6"></script>
</head>

<body data-rails_env="<%= Rails.env.to_s %>">

<div id="nav">
  <h1><a href="/"><span id="mof">MOFX</span><span id="db">DB</span></a>
    <span id="nav_api"><a href="/api">API</a></span>
    <span id="nav_database"><a href="/databases">Databases</a></span>
  </h1>
  <span id="nav_units">
    <% if !@maintenance %>
      <%= render partial: 'mofs/loading_selector' %>
      <%= render partial: 'mofs/pressure_selector' %>
    <% end %>
  </span>
</div>
<div id="page">
  <%= yield %>

  <div id="footer_grid">
    <span>Built for the Snurr Research lab by<br/><a style='color:white;font-weight:500' target="_blank" href="https://n8ta.com">Nathaniel Tracy-Amoroso</a> in collaboration with<br/>Benjamin Bucior,<br/>Daniel Siderius,<br/> and Scotty Bobbitt
    </span>
    <br/>
    <br/>
    <p>Image attribution</p>
    <small>Open graph image tag from CSIRO, CC BY 3.0, https://commons.wikimedia.org/w/index.php?curid=35606550</small>
  </div>
</div>

</body>
</html>
